@import "variables";
@import "font";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: $colour-one;
  color: $text-one;
  font-family: monoOne, monospace;
}

#left-column {
  padding: 5px;
  float: left;
  width: 690px;
}

#right-column {
  margin-left: 700px;
}

canvas.etag {
  background-color: #000;
}

canvas.monitor {
  background-color: #000;
  width: 100%;

  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.box {
  background-color: $colour-two;
  padding: 10px;
  margin-bottom: 5px;
}
